<%- include("../layouts/header", {title: "Pets" }) %>
    <%- include("../layouts/navbar") %>
        <div class="container">
 
            <p class="h1">Pets</p>

            <div class="d-grid gap-2 d-md-block py-3">
                <a href="/pets/create" class="btn btn-primary me-md-2" type="button">New Pet</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <% if (data.length>0) { %>
                        <% data.forEach(pet=> { %>
                            <tr>
                                <th scope="row"><%= pet.id%></th>
                                <td><%= pet.petname%></td>
                                <td><%= pet.description%></td>
                                <td><a href="/pets/id/<%= pet.id%>" 
                                    class="btn btn-outline-success">View</a>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>

                </tbody>
            </table>
        </div>
        <%- include("../layouts/footer") %>